
/*
Crea Evento
 */


.rendimiBello .creaEvento .opzioni li {}
.rendimiBello .creaEvento .opzioni label {
  flex-flow: row nowrap;
  display: flex;
}
.rendimiBello .creaEvento .opzioni label input {
  flex-grow: 2;
}
.rendimiBello .creaEvento .opzioni label button {
  flex-shrink: 1;
  flex-grow: 1;
  height: 2.6rem;
}
