.rendimiBello .contenutoPrincipale .utentiRegistrati .elimina {
  background: transparent url("../../img/elimina.png") no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  border: 0px;
}
