<!DOCTYPE html>
<div class="login">

	<h1>Login</h1>
	<form novalidate name="loginForm">
		<fieldset class="informazioniUtente" ng-show="!ctrl.loading">

			<label>uid:
				<input type="text" ng-model="ctrl.utente.uid" required="true" name="uid" placeholder="E-Mail utente nome.cognome@eng.it" ng-pattern="/^([_a-z0-9]+(\.[_a-z0-9]+)*)(@eng.it)$/"/>
			</label>
			<label>Password:
				<input type="password" ng-model="ctrl.utente.password" required="true" name="Password"/>
			</label>
			<div class="operazioni">
				<button class="login" ng-click="ctrl.login()" >Login</button>
				<button class="registrazione" ng-click="ctrl.registrazioneNuovoUtente()" >Registrati</button>
			</div>
		</fieldset>
		<fieldset class="informazioniUtente" ng-show="ctrl.loading">
			<b>Login in corso..</b>
		</fieldset>
	</form>


</div>
