<!DOCTYPE html>
<div class="visualizzazioneEventi" >
	<h1>Visualizzazione Evento</h1>

	<fieldset class="informazioniGenerali">
		<legend>Informazioni Principali Evento</legend>
		<table class="elencoEventi acard">
			<thead>
				<tr class="title">
					<th>Nome</th>
					<th>Data</th>
					<th>Luogo</th>
					<th>Min Partecipanti</th>
					<th>Max Partecipanti</th>

				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ctrl.evento.nome}}</td>
					<td>{{ctrl.evento.data | date: 'dd/MM/yyyy'}}</td>
					<td>{{ctrl.evento.luogo}}</td>
					<td>{{ctrl.evento.vincoliPartecipanti.min || "0"}}</td>
					<td>{{ctrl.evento.vincoliPartecipanti.max || "0"}}</td>
				</tr>
			</tbody>
		</table>

	</fieldset>


	<fieldset>
		<legend>
			<b>Lista Partecipanti</b>
		</legend>
		<input ng-model="queryPartecipanti" type="text"
        placeholder="Filter by" autofocus>
		<table class="elencoEventi">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Cognome</th>
					<th>Email</th>
					<th>Elimina</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="utente in ctrl.evento.utenti | orderBy: utente.id | filter: queryPartecipanti">
					<td>{{utente.nome}}</td>
					<td>{{utente.cognome}}</td>
					<td>{{utente.email}}</td>
					<td>
						<button class="elimina" ng-click="ctrl.eliminaPartecipante(utente)"></button>
					</td>
				</tr>
				<tr>
				</tr>
			</tbody>
		</table>

	</fieldset>
	<div class="operazioni">
		<button ng-click="ctrl.eliminaEvento()">Elimina Evento</button>

	</div>
</div>
