.rendimiBello .contenutoPrincipale .registrazioneNuovoUtente .operazioni .salva {
  background: transparent url("../../img/conferma.png") no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
	border:0px;
}
