<!DOCTYPE html>
<div class="visualizzazioneEventi" >
	<h1>Visualizzazione Eventi</h1> Numero eventi: {{ctrl.eventi.length || "0"}}
	<fieldset class="elenco">
		<legend>Elenco Eventi</legend>
		<table class="elencoEventi acard">
			<thead>
				<tr class="title">
					<th>Nome</th>
					<th>Data</th>
					<th>Luogo</th>
					<th>Min Partecipanti</th>
					<th>Max Partecipanti</th>
					<th>Dettaglio</th>
					<th>Operazioni</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="evento in ctrl.eventi track by evento.id">
					<td>{{evento.nome}}</td>
					<td>{{evento.data | date: 'dd/MM/yyyy'}}</td>
					<td>{{evento.luogo}}</td>
					<td>{{evento.vincoliPartecipanti.min || "0"}}</td>
					<td>{{evento.vincoliPartecipanti.max || "0"}}</td>
					<td>
						<button class="visualizza" ng-click="ctrl.visualizzaEvento(evento)"></button>
					</td>
					<td>
						<button class="aggiungi" ng-click="ctrl.iscriviti(evento)"></button>

						<button class="modifica" ng-if="ctrl.possoModificare(evento)" ng-click="ctrl.modificaEvento(evento)"></button>

						<button class="elimina" ng-if="ctrl.possoModificare(evento)" ng-click="ctrl.eliminaEvento(evento)"></button>

					</td>

				</tr>
			</tbody>
		</table>
	</fieldset>
	





</div>
